h1 {
    background: rgb(255, 102, 0);
    float: left;
    margin-top: 0;
    color: #eee;
    /*below is not working */
    /* margin: 40px, 0px, 40px, 0px;  */
    /* padding: 40px, 0px, 40px, 0px; */
    /* box-sizing: content-box; */
}

div.row {
    /* background: yellow; */
    height: 100px;
    border: 1px blue solid;
}

#info {
    background-color: peachpuff;
    color: green;
}

#score {
    background-color: aquamarine;
}

#goal {
    background-color: rgb(120, 202, 120)
}

#gems>img {
    /* clear: both; */
    float: left;
    height: 75px;
    width: 75px;
}

h3,
#score {
    background-color: deepskyblue;
    color: #eee;
}